@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: FreightText;
    font-weight: 400;
    src: url(./static/freighttext-book.ttf) format("ttf");
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .box-shadow-1 {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 2px;
    background-color: #002FA7;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FEB13F
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #FEB13F #002FA7;
  }

}