@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: FreightText;
    font-weight: 400;
    src: url(./static/freighttext-book.ttf) format("ttf");
  }

  html {
    /* Allow changing font family via CMS */
    font-family: var(--font-family);

    scrollbar-width: thin;
    scrollbar-color: #FEB13F #002FA7;
  }

  ::-webkit-scrollbar {
    width: 2px;
    background-color: #002FA7;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FEB13F
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .box-shadow-1 {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  }

  .transform3DText {
    animation: animationText 1s ease-in-out forwards;
  }

  .transformSlideText {
    animation: animationSlideText 1s ease-in-out forwards;
  }

  .transformCarouselText {
    animation: animationCarouselText 1s ease-in-out forwards;
  }

  .upBackground {
    animation: animationBackground 1s ease-in-out forwards;
  }

  @keyframes animationText {
    from {
      transform: translate3d(0px, 25px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 0;
    }

    to {
      transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 1;
    }
  }

  @keyframes animationSlideText {
    from {
      transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 0;
    }

    to {
      transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 1;
    }
  }

  @keyframes animationCarouselText {
    from {
      transform: translate3d(0px, -20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 0;
    }

    to {
      transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 1;
    }
  }

  @keyframes animationBackground {
    0% {
      transform: translateY(0%);
      background-color: #FEB13F;
    }

    100% {
      transform: translateY(-100%);
      background-color: #FEB13F;
    }
  }


  .w-auto-100 {
    @media screen and (max-width: 638px) {
      width: 100px;
    }
  }

  .w-auto-80 {
    @media screen and (max-width: 638px) {
      width: 80px;
    }
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}